.cart-row {
  background-color: blue;
}

.input-group {
  float: right
}


input[type="number"][disabled] {
  background-color: rgba(0,0,0,0.1);
}

.money {
  vertical-align: middle;
}

.subscribe-btn {
  padding-left: 8px;
}

input[type="number"], select {
  display: inline;
}

.carousel-control.left,.carousel-control.right{
  background-image:none;
  margin-top:10%;
  width:5%;
}

.form-control {
  height: 37px;
}

.order-form-inputs {
  width: 144px
}

.subscribe.btn-secondary {
  color: black;
  background-color: white;
  border-color: black;
}

.subscribe-btn {
  width: 110px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.grid__item.one-half.medium-down--hide.price {
  padding-left: 20px;
}

.grid__item.one-half.medium-down--hide.text-right.quantity {
  padding-right: 40px;
}

a:focus {
    outline: none;
}


/*============================================================================
  #Breakpoint and Grid Variables
==============================================================================*/
$viewportIncrement: 1px;

$small: 480px;
$medium: 768px;
$large: 769px;

$postSmall: $small + $viewportIncrement;
$preMedium: $medium - $viewportIncrement;
$preLarge: $large - $viewportIncrement;

/*================ The following are dependencies of csswizardry grid ================*/
$breakpoints: (
  'small' '(max-width: #{$small})',
  'medium' '(min-width: #{$postSmall}) and (max-width: #{$medium})',
  'medium-down' '(max-width: #{$medium})',
  'large' '(min-width: #{$large})'
);
$breakpoint-has-widths: ('small', 'medium', 'medium-down', 'large');
$breakpoint-has-push:  ('medium', 'medium-down', 'large');
$breakpoint-has-pull:  ('medium', 'medium-down', 'large');

/*============================================================================
  #General Variables
==============================================================================*/

// Main Colors
$colorPrimary: #000000;
$colorSplash: #d6c81f;

// Text link colors
$colorLink: $colorPrimary;
$colorLinkHover: lighten($colorPrimary, 15%);

// Text colors
$colorTextBody: #000000;

// Backgrounds
$colorBody: #ffffff;

// Border colors
$colorBorder: #bebebe;

// Account Bar
$colorInfoBg: #fdff00;
$colorInfoText: #000000;

// Nav and dropdown link background
$colorNav: #ffffff;
$colorNavText: #000000;
$colorNavBorder: $colorInfoBg;

// Site Footer
$colorFooterBg: #f7f7f7;
$colorFooterText: #000000;

// Button colors
$colorBtnPrimary: $colorPrimary;
$colorBtnPrimaryHover: darken($colorPrimary, 10%);
$colorBtnPrimaryActive: darken($colorPrimary, 5%);
$colorBtnPrimaryText: $colorBody;

$colorBtnSecondary: $colorBody;
$colorBtnSecondaryHover: lighten($colorSplash, 10%);
$colorBtnSecondaryActive: lighten($colorSplash, 5%);
$colorBtnSecondaryText: $colorTextBody;

// Helper colors
$disabledGrey: rgba(#000, 0.3);
$disabledBorder: darken($disabledGrey, 25%);
$errorRed: #d02e2e;
$errorRedBg: #fff6f6;
$successGreen: #56ad6a;
$successGreenBg: #ecfef0;

// Sizing variables
$siteWidth: 1180px;
$gutter: 30px;
$gridGutter: 30px; // can be a %, but nested grids will have smaller margins because of it
$radius: 2px;

// Password page
$passwordPageUseBgImage: true;

/*============================================================================
  #Order Page
==============================================================================*/
.cart-row {
  background-color: blue;
}
@include at-query ($min, $large) {
  .order__row--table-large {
    display: table;
    table-layout: fixed;
    width: 100%;

    .grid__item {
      display: table-cell;
      vertical-align: middle;
      float: none;
    }
  }
}
.order__image {
  display: block;

  img {
    display: block;
  }
}
.order__subtotal {
  margin: 0 0 0 ($gutter / 3);
  display: inline;
}
.order__mini-labels {
  display: block;
  margin: ($gutter / 3) 0;
  font-size: em(12px);

  @include at-query ($min, $large) {
    display: none;
  }
}
.order__remove {
  display: block;
}
.order__footer{
  text-align: right;
}
.order__instructions__label{
  text-align: left;
}
.hidden-count{
  display: none;
}
.order-header {
  padding-top: 90px;
}
.add-to-cart {
  float: right;
  padding-left: 0;
}
